.header-wrapper{
	position: relative !important;
	box-sizing: border-box;
}
.logged-out-header{
	background-color: initial;
	border-bottom: 0;
	padding-top: 11% !important;
	padding-bottom: 24px !important;
	width: 100% !important;
}
.logged-out-container{
	text-align: center !important;
	margin-left: auto;
	margin-right: auto;
	width: 100% !important;
}
.logged-out-container > .header-logo{
	color: #FFFA;
	text-decoration: none;
	text-align: center !important;
}
.clearfix:after, .clearfix:before {
	clear: both;
}
.header-subtitle {
    margin-bottom: 1px;
	font-size: 23px;
	font-weight: 100;
}
img{
	opacity: 0.9;
	width: 35px;
	height: 35px;
}
p{
	margin-bottom: 1px;
}
*{
	box-sizing: border-box;
}
html{

}
body{
	background-color: #F9FAFC !important;
	color: #333 !important;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	font-size: 14px;
	line-height: 1.5;
	min-width: 0px !important;
	margin: 0px;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
}
h1{
    margin: 0;
    font-size: 1.5em !important;
    font-weight: bold;
}
button, input {
    border-radius: 0;
    text-transform: none;
}
button, input {
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font: inherit;
    margin: 0;
}
[type="reset"], [type="submit"], button, html [type="button"] {
    -webkit-appearance: button;
}
.header-title{
	color: #56C811E6 !important;
    text-decoration: none;
    background-color: initial;
    font-weight: bold;
}
.show-on-focus{
	clip: rect(1px,1px,1px,1px);
	margin: 0;
}
.sr-only {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
.auth-form {
    margin: 0 auto;
    width: 450px;
}
.px-3 {
    padding-right: 16px !important;
    padding-left: 16px !important;
}
.auth-form-header {
    background-color: initial;
    border: 0;
    color: #FFFA;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: none;
    border-radius: 0;
    margin: 0px;
}
.auth-form-header h1 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -.5px;
}
.p-0 {
	padding: 0 !important;
}
.auth-form-body {
    background-color: inherit;
	border: 1px solid #d8dee2;
	font-size: 14px;
	padding: 20px;
}
.mt-3 {
    margin-top: 16px !important;
}
.mt-1 {
    margin-top: 4px !important;
}
label {
    font-weight: 600 !important;
}
.auth-form label {
    display: block;
    margin-bottom: 7px;
}
.auth-form-body .input-block {
    margin-bottom: 15px;
    margin-top: 5px;
}
.input-block {
    display: block;
    width: 100%;
}
.form-control, .form-select {
    background-color: #fff;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 1px solid #d1d5da;
    border-radius: 0px;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    color: #24292e;
    font-size: 16px;
    line-height: 20px;
    min-height: 34px;
    outline: none;
    padding: 6px 8px;
    vertical-align: middle;
}
.auth-form .btn {
    margin-top: 20px;
}
.btn-block {
    display: block;
    text-align: center;
    width: 100%;
}
.btn-primary {
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    color: #fff;
}
.btn {
    color: #24292e;
	-moz-appearance: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-appearance: none;
	-webkit-user-select: none;
	appearance: none;
	background-position: -1px -1px;
	background-repeat: repeat-x;
	background-size: 110% 110%;
	border: 1px solid rgba(27,31,35,.2);
	border-radius: .25em;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	padding: 6px 12px;
    position: relative;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.f6 {
    font-size: 12px !important;
}
.p-responsive {
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.py-6 {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}
.mt-6 {
    margin-top: 40px !important;
}
.container-lg {
    max-width: 1012px;
}
.container-lg, .container-md {
    margin-left: auto;
    margin-right: auto;
}
.d-flex {
    display: flex !important;
}
.list-style-none {
    list-style: none !important;
}
.flex-justify-center {
    justify-content: center !important;
}
.mr-3 {
    margin-right: 16px !important;
}
.color-gray {
    color: #586069 !important;
}
.text-capitalize{
	text-transform: capitalize;
}
.color-black{
	color: black;
}
.login-icon{
	float: right;
	display: block;
	text-align: center;
	margin-right: 33%;
	position: relative;
	width: 38px;
	height: 38px;
	background-color: #28a745;
	background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
	z-index: 1;
	border-radius: 35% 0;
}
.alert{
	padding:7px;
	margin-bottom:20px;
	border:1px solid transparent;
	border-radius: 3px;
	text-align: center;
}
.alert-dismissable,.alert-dismissible{
	padding-right:27px;
}
.alert-dismissable .close,.alert-dismissible .close{
	position:relative;
	top:-2px;
	right:-21px;
	color:inherit;
}
.alert-danger{
	background-color:#d50000;
	border-color:#bc001f;
	color:#fff
}
.alert-danger hr{
	border-top-color:#a2001b
}
.alert-danger .alert-link{
	color:#e6e6e6
}
.octicon{
	overflow: hidden;
	vertical-align: text-bottom;
	display: inline-block;
	fill: yellow;
}
.close{
	float:right;
	font-size:21px;
	font-weight:700;
	line-height:1;
	color:#000;
	text-shadow:0 1px 0 #fff;
	opacity:.2;
	filter:alpha(opacity=20);
}
.close:focus, .close:hover{
	color:#000;
	text-decoration:none;
	cursor:pointer;
	opacity:.5;
	filter:alpha(opacity=50);
}
button.close{
	padding:0;
	cursor:pointer;
	background:0 0;
	border:0;
	-webkit-appearance:none;
}