		*{
			box-sizing: border-box;
		}
		html{

		}
		body{
			background-color: #f9f9f9;
			color: #24292e;
			font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
			font-size: 14px;
			line-height: 1.5;
			min-width: 0px !important;
			margin: 0px;
			background-color: #f9f9f9;
			box-sizing: border-box;
		}
		h1, h2, h3, h4, h5, h6 {
		    margin-bottom: 0;
		    margin-top: 0;
		}
		h1{
		    margin: .67em 0;
		}
		label {
		    font-weight: 600;
		}
		button, input {
		    border-radius: 0;
		    text-transform: none;
		}
		button, input {
		    overflow: visible;
		    font-family: inherit;
		    font-size: inherit;
		    line-height: inherit;
		    font: inherit;
		    margin: 0;
		}
		a {
		    color: #0366d6;
		    text-decoration: none;
		    background-color: initial;
		}
		a:hover{
		    text-decoration: underline !important;
		}
		p {
		    margin-bottom: 10px;
		}
		ol, ul {
		    margin-bottom: 0;
		    margin-top: 0;
		    padding-left: 0;
		}
		[type="reset"], [type="submit"], button, html [type="button"] {
		    -webkit-appearance: button;
		}
		.header-wrapper{
			position: relative !important;
			box-sizing: border-box;
		}
		.logged-out-header{
			background-color: initial;
			border-bottom: 0;
			padding-top: 32px !important;
			padding-bottom: 24px !important;
			width: 100% !important;
		}
		.logged-out-container{
			text-align: center !important;
			margin-left: auto;
			margin-right: auto;
			width: 100% !important;
		}
		.logged-out-container > .header-logo{
			color: #333;
			text-decoration: none;
			text-align: center !important;
		}
		.octicon{
			overflow: hidden;
			vertical-align: text-bottom;
			display: inline-block;
			fill: currentColor;
		}
		.show-on-focus{
			clip: rect(1px,1px,1px,1px);
			margin: 0;
		}
		.sr-only {
		    height: 1px;
		    overflow: hidden;
		    position: absolute;
		    width: 1px;
		}
		.auth-form {
		    margin: 0 auto;
		    width: 340px;
		}
		.px-3 {
		    padding-right: 16px !important;
		    padding-left: 16px !important;
		}
		.auth-form-header {
		    background-color: initial;
		    border: 0;
		    color: #333;
		    margin-bottom: 15px;
		    text-align: center;
		    text-shadow: none;
		    border-radius: 0;
		    margin: 0px;
		}
		.auth-form-header h1 {
		    font-size: 24px;
		    font-weight: 300;
		    letter-spacing: -.5px;
		}
		.p-0 {
			padding: 0 !important;
		}
		.auth-form-body {
		    background-color: #fff;
			border: 1px solid #d8dee2;
			font-size: 14px;
			padding: 20px;
		}
		.mt-3 {
		    margin-top: 16px !important;
		}
		.auth-form label {
		    display: block;
		    margin-bottom: 7px;
		}
		.auth-form-body .input-block {
		    margin-bottom: 15px;
		    margin-top: 5px;
		}
		.input-block {
		    display: block;
		    width: 100%;
		}
		.form-control, .form-select {
		    background-color: #fff;
		    background-position: right 8px center;
		    background-repeat: no-repeat;
		    border: 1px solid #d1d5da;
		    border-radius: 0px;
		    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
		    color: #24292e;
		    font-size: 16px;
		    line-height: 20px;
		    min-height: 34px;
		    outline: none;
		    padding: 6px 8px;
		    vertical-align: middle;
		}
		.auth-form .btn {
		    margin-top: 20px;
		}
		.btn-block {
		    display: block;
		    text-align: center;
		    width: 100%;
		}
		.btn-primary {
		    background-color: #28a745;
		    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
		    color: #fff;
		}
		.btn {
		    color: #24292e;
			-moz-appearance: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-webkit-appearance: none;
			-webkit-user-select: none;
			appearance: none;
			background-position: -1px -1px;
			background-repeat: repeat-x;
			background-size: 110% 110%;
			border: 1px solid rgba(27,31,35,.2);
			border-radius: .25em;
			cursor: pointer;
			display: inline-block;
			font-size: 14px;
			font-weight: 600;
			line-height: 20px;
			padding: 6px 12px;
		    position: relative;
		    user-select: none;
		    vertical-align: middle;
		    white-space: nowrap;
		}
		.recover-account-callout {
		    border: 1px solid #d8dee2;
		    border-radius: 0px;
		    padding: 15px 10px;
		    text-align: center;
		}
		.f6 {
		    font-size: 12px !important;
		}
		.p-responsive {
		    padding-left: 16px !important;
		    padding-right: 16px !important;
		}
		.py-6 {
		    padding-bottom: 20px !important;
		    padding-top: 20px !important;
		}
		.mt-6 {
		    margin-top: 40px !important;
		}
		.container-lg {
		    max-width: 1012px;
		}
		.container-lg, .container-md {
		    margin-left: auto;
		    margin-right: auto;
		}
		.d-flex {
		    display: flex !important;
		}
		.list-style-none {
		    list-style: none !important;
		}
		.flex-justify-center {
		    justify-content: center !important;
		}
		.mr-3 {
		    margin-right: 16px !important;
		}
		.color-gray {
		    color: #586069 !important;
		}

		.flash {
		    border-radius: 2px;
		    border-style: solid;
		    border: 1px solid rgba(27,31,35,.15);
		    border-width: 1px;
		    font-size: 13px;
		    margin: 0 auto 10px;
		    padding: 15px 20px;
		}
		.error-message {
		    display: inline-block;
		    left: auto;
		    position: relative;
		    transition: top .5s ease-in-out;
		    width: 309px;
		    z-index: 9999;
		}
		.flash-error {
		    background-color: #ffdce0;
		    color: #86181d;
		}
		.flash-error, .flash-warn {
		    border-color: rgba(27,31,35,.15);
		}
		.flash .flash-close {
		    height: 40px;
		}
		.flash-close {
		    -moz-appearance: none;
		    appearance: none;
		    background: none;
		    border: 0;
		    color: inherit;
		    cursor: pointer;
		    float: right;
		    margin: -16px;
		    opacity: .6;
		    padding: 16px;
		    padding-left: 20px !important;
		    text-align: center;
		}
		.text-capitalize{
			text-transform: capitalize;
		}